<div class="container setting-main-holder">
    <h1 class="text-center primary "> Enter city and code </h1>
    <form >
        <div class="form-group">
            <label >City</label>
            <input type="text"  class="form-control"  name="city" [(ngModel)]="city"   >
            <label > Code</label>
            <input type="text"  class="form-control" name="code" [(ngModel)]="code"   >
        </div>
        <button class="btn btn-success" (click)="saveForm()">Save Changes</button>
    </form>
</div>
